* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f2f2;
}

nav {
    background: linear-gradient(90deg, #53c411, #787e78);
    top: 0;
    z-index: 10;
    width: 100%;
    position: fixed;
    box-shadow:  0 0 10px rgb(46, 44, 44),
                0 0 10px #ccc;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav .logo img {
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 3px solid #ccc;
    border-radius: 50%;
    margin-right: 20px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;

    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    background: linear-gradient(90deg, #0be616, #d5f8d4);
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
position: relative;
margin: 0px;
width: 150px;
float: none;
display: list-item;
border-bottom: 1px solid #f2f2f2;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul li #icons{
    opacity: 0;
    
}

.container-1 {
    margin-left: 50px;
    margin-right: 50px;
}
.container-1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(80, 74, 74);
}
.container-1 .btn {
    font-size: 20px;
    margin-left: 20%;
    border-radius: 10px;
}
.container my-4 img {
    border-radius: 10px;
}
.slideshow{
    width: 90%;
    height: 300px;
    margin-left: 50px;
    margin-top: 10px;
    overflow: hidden;
}
.slideshow img{
    border-radius: 15px 50px 30px;
    width: 600px;
    float: left;
}

.container-2{
    width: 150px;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #ccc;
    box-shadow:  0 0 10px #ccc,
                0 0 10px #ccc;
}

.container-2 i{
    font-size: 50px;
    color: rgb(71, 67, 67);
    margin-bottom: 10px;
}

.container-2:hover {
    cursor: pointer;
    text-decoration: none;
    box-shadow:  0 0 10px rgb(6, 155, 13),
                0 0 10px rgb(6, 155, 13),
}
.container-2 i:hover{
    font-size: 60px;
}
#service-head {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(80, 74, 74);
}

.container-3 {
    background-image: url("./images/123563488_102029411723511_7156851511039543503_n.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    margin-top: 40px;
}
.about-us {
    background: rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}
.about-us h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container-4 {
    background-image: url("./images/images.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    margin-top: 40px;
}
.contact-us{
    padding: 20px;
}
.contact-us h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container-5{
    background: rgb(80, 74, 74);
    color: white;
    padding: 20px;
    margin-top: 20px;
}
.container-5 img{
    width: 150px;
}

.footer {
    background: linear-gradient(90deg, #53c411, #787e78);
    color: rgb(80, 74, 74);
    text-align: center;
    padding: 20px;
}



input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:40%;
    margin-left:30%;
  }

@media all and (max-width: 968px) {
  
    nav{
        display: flex;
        justify-content: space-between;
    }
    
    nav .logo {
        padding-left: 5px;
        
    }
    nav ul li a{
        padding:5px 7px;
    }
    
    nav ul ul li {
        border-bottom: 0px;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    nav ul li #text{
        display: none;
    }
    nav ul li #icons{
        opacity: 1;
        visibility: visible;
        color: rgb(70, 65, 65);
        margin-right: 10px;
        font-size: 25px;
    }
    nav .logo #text{
        display: none;
    }
    nav ul{
       
        margin-bottom: 0px;
    }
    .slideshow {
        margin-left: 10px;
    }
    img{
        width: 100%;
        height: auto;
        max-width: 320px;
    }

    .container-5 .col-sm-3{
        border-bottom: 1px solid #ccc;
        padding: 20px;
    }

    .mapouter iframe{
        width: 100%;
        height: auto;
    }
  
    
}